= turbo_stream.update "header_leagues", partial: "layouts/header/leagues"
= turbo_stream.update "sidebar", partial: "layouts/sidebar/main"
= turbo_stream.replace "manager_settings", partial: "manager/settings/settings"
= render_turbo_stream_flash_messages