= turbo_stream.update "sidebar_user_club_info", partial: "layouts/sidebar/user_club_info"
= turbo_stream.replace "myclub_management", partial: "myclub/management/details"
= render_turbo_stream_flash_messages