.text-center
  = link_to "javascript:;", class: "btn border-primary btn-sm", data: { controller: "confirm", "confirm-title-value": t('.start_game_question', game: game.gsequence), "confirm-text-value": t('.start_game_text'), "confirm-link-value": game_start_path(game), "confirm-icon-value": "question", "confirm-action-value": "POST", action: "click->confirm#dialog" } do
    i.ri-flag-line.align-bottom
    span.ms-1.d-none.d-sm-block style="float: right;" = t('.start_game')