= turbo_stream.update "tAvailablePlayers" do
  = @tAvailablePlayers

= turbo_stream.update "tAvailablePlayersPP" do
  = render "manager/seasons/available_players", locals: { tAvailablePlayersPP: @tAvailablePlayersPP }

= render_turbo_stream_flash_messages

/ <% tPP = (@tAvailablePlayersPP.min)[1] < 0 ? 0 : @tAvailablePlayers %>
/ $('#season_praffle_availability').val('<%= tPP %>');