= turbo_stream.update "manager_championships" do
  = render "layouts/header/page_title", title: t('.championships')
  = render "manager/seasons/details/main", championships: @championships
= render_turbo_stream_flash_messages